@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap'); /* IMPORTAR A FONTE Inter (REGULAR COM A GROSSURA (wght DE 400 (REGULAR) E DE 700 (BOLD)) DO GOOGLE FONTS USANDO A URL */


body{
    margin: 0px; /* RETIRANDO QUALQUER MARGIN QUE POSSA EXISTIR NO BODY */
    padding-left: 90px; /* O BODY FORÇARÁ QUALQUER ELEMENTO DENTRO DELE PARA 90px DE DISTÂNCIA DO LADO ESQUERDO */
    padding-right: 90px; /* O BODY FORÇARÁ QUALQUER ELEMENTO DENTRO DELE PARA 90px DE DISTÂNCIA DO LADO DIREITO */
    background-color: #1C1C1C;
    
    height: 100vh;
}

p, h1, h2, h3, span, label, button {
    font-family: 'Inter', sans-serif; /* DEFININDO QUE A FONT USADA PARA A TAG p, h1, h2, h3, span, label, button SERÁ A Inter */
    color: white;
}

button {
    background-color: #00FF43; /* DEFININDO COR DE FUNDO DO BOTÃO */
    border: none; /* RETIRANDO TODAS AS BORDAS DO BOTÃO (DEFININDO BORDAS COMO NONE) */
    color: #0F0F0F; /* COR DO TEXTO DO BOTÃO SERÁ PRETO */
    border-radius: 33px; /* DEFININDO UMA BORDA COM CURVAS DE 33px */
    font-weight: 700; /* A FONT DO BOTÃO TERÁ UMA GROSSURA DE 700 (SERÁ BOLD) */
    cursor: pointer; /* QUANDO O USUÁRIO PASSAR O CURSOR EM CIMA ELE SERÁ DEFINIDO COMO PONTEIRO */
    transition: 500ms; /* ANIMAÇÃO DE TRANSIÇÃO PARA QUALQUER ESTILO COM DURAÇÃO DE 500ms */
    margin-top: 5px; /* MARGEM DO TOPO DE 5px */
    font-size: 24px; /* TAMANHO DA FONT DO BOTÃO SERÁ DE 24px */
    width: 250px;
    height: 50px;
    margin-top: 10px;
}

button:hover { /* QUANDO MOUSE PASSAR EM CIMA DO BOTÃO: */
    transform: scale(1.05); /* TRANSFORMAR A ESCALA DO BOTÃO PARA A ESCALA ORIGINAL (1) + 0.05 DA ORIGINAL */
}

input {
    height: 25px;
    border: none;
    border-bottom: solid 5px #00FF43;
    border-radius: 10px;
    color: #0F0F0F;
    padding-left: 5px;
}
/* -=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-*/
/* TODOS OS ESTILOS ACIMA SÃO APLICADAS DIRETO NAS TAGS (SEM PRECISAR DE CLASS) */
/* TODOS OS ESTILOS A BAIXO SÃO APLICADAS NA CLASS */
/* -=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-*/
.title-page-container {
    width: fit-content; /* LARGURA DESSA DIV SERÁ DEFINIDA A PARTIR DO QUE ELE PRECISA (DO SEU CONTEÚDO) */
    margin-left: 40px;
    margin-top: 54px;
}

.title-page-container h1{
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 0px;
}

.underline-title {
    width: 53%; /* LARGURA COM 50% DO TAMANHO DO ELEMENTO PAI */
    height: 10px; /* ALTURA DE 10px */
    border-radius: 20px;
    background-color: #0CE817;
    transition: 800ms;
}

.title-page-container:hover .underline-title{
    width: 63%;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-two-box {
    margin-top: 50px;
    width: 80%;
    display: flex;
    background-color: white;
    border-radius: 20px;
}

.container-two-box .box {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 50%;
    border-radius: 10px;
}

.box p, .box h1 {
    color: #0F0F0F;
    text-align: justify;
}

.centralize {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    margin-top: 50px;
}

.card {
    width: 272px;
    height: 272px;
    background: #3BDB43;
    border-radius: 15px;
    margin-left: 80px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    text-align: center;
    /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* ESSE ESTILO SERÁ ARQUIVADO PARA PRÓXIMAS SPRINTS */
    /* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    box-shadow: -9px 9px 0px 0px #0a600e;
}

