@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" );
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    height: 100vh;
    background-color: #1C1C1C;
    background-size: cover;
}
nav a{
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    align-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 10vh;
    width:100vw;
    position: fixed;
    z-index: 999;
    top: 0px;
    background-color: #111111;
    justify-content: space-between;
}
button {cursor: pointer;}
.navLinks{
    width: 40%;
}
.logo img{
    margin-left: 20px;
    margin-top: 20px;
}
.nav-list{
    margin-right: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list li{
    letter-spacing: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
}
.nav-list li a:hover{
    border-bottom: 3px #00FF43 solid;
    transform: scale(2, 0.5);
}
.active {
    border-bottom: 3px #00FF43 solid;
    transform: scale(2, 0.5);
    cursor: default;
    opacity: 0.7;
}
.auth-container {
    position: relative;
    border: 3px solid #00FF43;
    border-radius: 15px;
    width: 180px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.auth-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    z-index: 2;
}

.anim-auth{
    background-color: #00FF43;

    width: 90px;
    height: 35px;

    position: absolute;
    z-index: -1;

    transition: 1s;
}

.anim-auth.left{
    margin-left: -182px;
}

.auth-container a:hover .anim-auth.left {
    margin-left: 0px;
}

.anim-auth.right{
    margin-right: -182px;
}

.auth-container a:hover .anim-auth.right {
    margin-right: 0px;
}

.container{
    padding-left: 84px;
    padding-right: 84px;
    margin-top: 10vh;
}

.page-title{
    width: max-content;
    margin-top: calc(10vh + 35px);
}

.page-title h1{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.page-title div{
    width: 35%;
    height: 9px;
    background: #0CE817;
    border-radius: 20px;
    margin-bottom: 25px
}

.link-disable{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

